<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Medtrack" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.phoenix.min.js">
    </script>
  </head>
  <body class="bg-white antialiased">
    <header>
      <nav class="bg-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800">
        <div class="flex flex-wrap items-center justify-between md:max-w-screen-xl mx-auto">
          <.link navigate={~p"/medications"} class="flex items-center">
            <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">
              Medtrack
            </span>
          </.link>
          <div class="flex items-center lg:order-2">
            <%= if @current_user do %>
              <div class="flex items-center">
                <.link
                  navigate={~p"/medications"}
                  class="mr-6 text-sm text-gray-500 dark:text-white hover:underline"
                >
                  <%= @current_user.email %>
                </.link>
                <.link
                  href={~p"/users/settings"}
                  class="mr-6 text-sm text-gray-500 dark:text-white hover:underline"
                >
                  Settings
                </.link>
                <.link
                  href={~p"/users/log_out"}
                  method="delete"
                  class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                >
                  Log out
                </.link>
              </div>
            <% else %>
              <.link
                href={~p"/users/log_in"}
                class="text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800"
              >
                Log in
              </.link>
              <.link
                href={~p"/users/register"}
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
              >
                Register
              </.link>
            <% end %>
          </div>
        </div>
      </nav>
    </header>
    <%= @inner_content %>
  </body>
</html>
